* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.head,
.paragraph {
  text-align: left;
  margin-top: 1em;
}

.note {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  margin-left: 2em;
  margin-top: 4em;
  border-radius: 1px;
  display: inline-block;
}

.footer {
  text-align: center;
  margin-top: 100%;
  font-weight: bold;
  margin-left: 50%;
  margin-right: 50%;
}
h1 {
  background-color: #fbdf07;
  margin: 0;
  width: 100%;
  background-size:100%;
}

form {
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 15em;
  margin: 0 0 50% 50%;
  border-radius: 1px;
  display: block;
  text-align: center;
  margin-top: 3em;
}
input,
textarea {
  width: 15em;
  border: none;
  margin: 1em;
}
.good {
  border-radius: 50%;
  margin-left: 80%;
  border: none;
  background-color: #fbdf07;
}

.bad {
  background-color: #fff;
  border: none;
  color: #fbdf07;
  margin-left: 50%;
  margin-top: 1em;
}
